#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.myclass{
  color: red;
  margin: 10px;
  padding: 10px;
  
}
.button{
background-color: aqua;
padding: 10px;
margin: 20px;
}
.navbar{
  background-color: black;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}
.logout-button {
  margin: 20px;
  padding: 5px;
  background-color: aqua;
  color: white;
}

.logout-button:hover {
  background-color: red;
}

.welcome {
  color: yellow;
  font-weight: bold;
  margin-left: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.linkstyle {
  color: indianred;
  margin-right: 15px;
}

.linkstyle:hover {
  color: blue;
}
